<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.BoardMapper">
	<select id="getList" resultType="org.zerock.domain.BoardVO">
		<![CDATA[
			select * from tbl_dboard where bno > 0 order by bno desc
		]]>
	</select>
	<insert id="insert">
		insert into tbl_dboard (bno, title, content, writer)
		values(seq_dboard.nextval, #{title}, #{content}, #{writer})
	</insert>
	<insert id="insertSelectKey">
		<selectKey keyProperty="bno" order="BEFORE" resultType="long">
			select seq_dboard.nextval from dual
		</selectKey>
		insert into tbl_dboard (bno, title, content, writer)
		values (#{bno}, #{title}, #{content}, #{writer})
	</insert>
	<select id="read" resultType="org.zerock.domain.BoardVO">
		select * from tbl_dboard where bno = #{bno}
	</select>
	<delete id="delete">
		delete from tbl_dboard where bno = #{bno}
	</delete>
	<update id="update">
		update tbl_dboard set title=#{title}, content= #{content}, updateDate= sysdate where bno = #{bno} 
	</update>
</mapper>